---
http_interactions:
- request:
    method: post
    uri: https://leetcode.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query problemsetQuestionList($filters: QuestionListFilterInput)
        {\n  problemsetQuestionList: questionList(\n    categorySlug: \"algorithms\",\n    limit:
        -1,\n    skip: 0,\n    filters: $filters\n  ) {\n    total: totalNum\n    questions:
        data {\n      acRate\n      difficulty\n      freqBar\n      frontendQuestionId:
        questionFrontendId\n      isFavor\n      paidOnly: isPaidOnly\n      status\n      title\n      titleSlug\n      topicTags
        {\n        name\n        id\n        slug\n      }\n      hasSolution\n      hasVideoSolution\n    }\n  }\n}\n","variables":{"filters":{"status":"AC"}}}'
    headers:
      X-Csrftoken:
      - "<X-Csrftoken>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"problemsetQuestionList":{"total":23,"questions":[{"acRate":48.870818028345816,"difficulty":"Easy","freqBar":null,"frontendQuestionId":"1","isFavor":false,"paidOnly":false,"status":"ac","title":"Two
        Sum","titleSlug":"two-sum","topicTags":[{"name":"Array","id":"VG9waWNUYWdOb2RlOjU=","slug":"array"},{"name":"Hash
        Table","id":"VG9waWNUYWdOb2RlOjY=","slug":"hash-table"}],"hasSolution":true,"hasVideoSolution":true},{"acRate":39.13712743897537,"difficulty":"Medium","freqBar":null,"frontendQuestionId":"2","isFavor":false,"paidOnly":false,"status":"ac","title":"Add
        Two Numbers","titleSlug":"add-two-numbers","topicTags":[{"name":"Linked List","id":"VG9waWNUYWdOb2RlOjc=","slug":"linked-list"},{"name":"Math","id":"VG9waWNUYWdOb2RlOjg=","slug":"math"},{"name":"Recursion","id":"VG9waWNUYWdOb2RlOjMx","slug":"recursion"}],"hasSolution":true,"hasVideoSolution":false},{"acRate":33.538896944660735,"diffic[...]
