---
http_interactions:
- request:
    method: post
    uri: https://leetcode.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query questionData {\n  question(titleSlug: \"two-sum\")
        {\n    questionId\n    title\n    titleSlug\n    content\n    difficulty\n    categoryTitle\n    stats\n    topicTags
        {\n      name\n      slug\n      translatedName\n    }\n    likes dislikes
        isLiked similarQuestions exampleTestcases\n  }\n}\n","variables":{}}'
    headers:
      X-Csrftoken:
      - "<X-Csrftoken>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"question":{"questionId":"1","title":"Two Sum","titleSlug":"two-sum","content":"<p>Given
        an array of integers <code>nums</code>&nbsp;and an integer <code>target</code>,
        return <em>indices of the two numbers such that they add up to <code>target</code></em>.</p>\n\n<p>You
        may assume that each input would have <strong><em>exactly</em> one solution</strong>,
        and you may not use the <em>same</em> element twice.</p>\n\n<p>You can return
        the answer in any order.</p>\n\n<p>&nbsp;</p>\n<p><strong>Example 1:</strong></p>\n\n<pre>\n<strong>Input:</strong>
        nums = [2,7,11,15], target = 9\n<strong>Output:</strong> [0,1]\n<strong>Explanation:</strong>
        Because nums[0] + nums[1] == 9, we return [0, 1].\n</pre>\n\n<p><strong>Example
        2:</strong></p>\n\n<pre>\n<strong>Input:</strong> nums = [3,2,4], target =
        6\n<strong>Output:</strong> [1,2]\n</pre>\n\n<p><strong>Example 3:</strong></p>\n\n<pre>\n<strong>Input:</strong>
        nums = [3,3], target = 6\n<strong>Output:</strong> [0,1]\n</pre>\n\n<p>&nbsp;</p>\n<p><strong>Constraints:</strong></p>\n\n<ul>\n\t<li><code>2
        &lt;= nums.length &lt;= 10<sup>4</sup></code></li>\n\t<li><code>-10<sup>9</sup>
        &lt;= nums[i] &lt;= 10<sup>9</sup></code></li>\n\t<li><code>-10<sup>9</sup>
        &lt;= target &lt;= 10<sup>9</sup></code></li>\n\t<li><strong>Only one valid
        answer exists.</strong></li>\n</ul>\n\n<p>&nbsp;</p>\n<strong>Follow-up:&nbsp;</strong>Can
        you come up with an algorithm that is less than&nbsp;<code>O(n<sup>2</sup>)&nbsp;</code>time
        complexity?","difficulty":"Easy","categoryTitle":"Algorithms","stats":"{\"totalAccepted\":
        \"7.3M\", \"totalSubmission\": \"15M\", \"totalAcceptedRaw\": 7345219, \"totalSubmissionRaw\":
        15016371, \"acRate\": \"48.9%\"}","topicTags":[{"name":"Array","slug":"array","translatedName":null},{"name":"Hash
        Table","slug":"hash-table","translatedName":null}],"likes":35638,"dislikes":1132,"isLiked":null,"similarQuestions":"[{\"title\":
        \"3Sum\", \"titleSlug\": \"3sum\", \"difficulty\": \"Medium\", \"translatedTitle\":
        null}, {\"title\": \"4Sum\", \"titleSlug\": \"4sum\", \"difficulty\": \"Medium\",
        \"translatedTitle\": null}, {\"title\": \"Two Sum II - Input Array Is Sorted\",
        \"titleSlug\": \"two-sum-ii-input-array-is-sorted\", \"difficulty\": \"Medium\",
        \"translatedTitle\": null}, {\"title\": \"Two Sum III - Data structure design\",
        \"titleSlug\": \"two-sum-iii-data-structure-design\", \"difficulty\": \"Easy\",
        \"translatedTitle\": null}, {\"title\": \"Subar[...]
