---
http_interactions:
- request:
    method: post
    uri: https://leetcode.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Submissions {\n  submissionList(\n    questionSlug:
        \"longest-substring-without-repeating-characters\",\n    limit: 1000,\n    offset:
        0\n  ) {\n    lastKey\n    hasNext\n    submissions {\n      id\n      statusDisplay\n      lang\n      runtime\n      timestamp\n      url\n      isPending\n      memory\n    }\n  }\n}\n"}'
    headers:
      X-Csrftoken:
      - "<X-Csrftoken>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"submissionList":{"lastKey":null,"hasNext":false,"submissions":[{"id":"754330628","statusDisplay":"Accepted","lang":"cpp","runtime":"4
        ms","timestamp":"1658563586","url":"/submissions/detail/754330628/","isPending":"Not
        Pending","memory":"8.3 MB"},{"id":"753219274","statusDisplay":"Accepted","lang":"cpp","runtime":"12
        ms","timestamp":"1658436921","url":"/submissions/detail/753219274/","isPending":"Not
        Pending","memory":"6.9 MB"},{"id":"753215751","statusDisplay":"Accepted","lang":"cpp","runtime":"3
        ms","timestamp":"1658436539","url":"/submissions/detail/753215751/","isPending":"Not
        Pending","memory":"6.9 MB"},{"id":"753214471","statusDisplay":"Wrong Answer","lang":"cpp","runtime":"N/A","timestamp":"1658436402","url":"/submissions/detail/753214471/","isPending":"Not
        Pending","memory":"N/A"}]}}}'
  recorded_at: Sun, 24 Jul 2022 18:54:42 GMT
recorded_with: VCR 6.1.0
