---
http_interactions:
- request:
    method: post
    uri: https://leetcode.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query Submissions {\n  submissionList(\n    questionSlug:
        \"two-sum\",\n    limit: 5,\n    offset: 0\n  ) {\n    lastKey\n    hasNext\n    submissions
        {\n      id\n      statusDisplay\n      lang\n      runtime\n      timestamp\n      url\n      isPending\n      memory\n    }\n  }\n}\n","variables":{}}'
    headers:
      X-Csrftoken:
      - "<X-Csrftoken>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"submissionList":{"lastKey":null,"hasNext":false,"submissions":[{"id":"641132932","statusDisplay":"Accepted","lang":"ruby","runtime":"127
        ms","timestamp":"1644830236","url":"/submissions/detail/641132932/","isPending":"Not
        Pending","memory":"211.6 MB"},{"id":"641119119","statusDisplay":"Wrong Answer","lang":"ruby","runtime":"N/A","timestamp":"1644828095","url":"/submissions/detail/641119119/","isPending":"Not
        Pending","memory":"N/A"},{"id":"429871473","statusDisplay":"Accepted","lang":"cpp","runtime":"8
        ms","timestamp":"1607784935","url":"/submissions/detail/429871473/","isPending":"Not
        Pending","memory":"9.3 MB"},{"id":"429871065","statusDisplay":"Accepted","lang":"cpp","runtime":"20
        ms","timestamp":"1607784868","url":"/submissions/detail/429871065/","isPending":"Not
        Pending","memory":"9.4 MB"},{"id":"429869587","statusDisplay":"Accepted","lang":"cpp","runtime":"16
        ms","timestamp":"1607784616","url":"/submissions/detail/429869587/","isPending":"Not
        Pending","memory":"9.3 MB"}]}}}'
  recorded_at: Wed, 03 Aug 2022 21:43:03 GMT
recorded_with: VCR 6.1.0
